snippet if "Conditionaly include file"
#ifndef ${1:macro_name}
#define $1



#endif
endsnippet

snippet inh "Include with quotes"
#include "$1"
endsnippet

snippet inc "Include with <>"
#include <$1>
endsnippet
